extends layout
block head-includes
    script(src='//vjs.zencdn.net/4.12.6/video.js')
    link(href='//vjs.zencdn.net/4.12.6/video-js.css', rel='stylesheet')

block content
      div.space
      .row
          video.video-js.vjs-default-skin(controls, preload='none', width="640px" height="264px",
          poster='/videos/cover.jpg')
              source(src='/videos/nimbli.mp4', type='video/mp4')
              source(src='/videos/nimbli.webm', type='video/webm')
      div.space
      div#contact
        p#hello-nimbli hello@nimbli.org
        p#contact Otavantie 3C 82, 00200 Helsinki, +358440234488

